* {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

body {
  background-image: url('./assets/background.png');
  background-position: top center;
}

nav {
  margin: 5%;
  margin-top: 4%;
  margin-bottom: 7%;
}

ul {
  display: flex;
  width: 100%;
  height: 4%;
  align-items: center;
}

li {
  list-style: none;
}

a {
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

button {
  padding: 10px;
  height: 100%;
  color: var(--black-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}

.div-nav {
  display: flex;
  flex: 1;
}

#div-botao {
  display: flex;
  justify-content: end;
}

.other-nav1 {
  margin-right: 15%;
}
.other-nav3 {
  margin-left: 15%;
}

#div-itens {
  justify-content: center;
}

.logo-rosa {
  color: var(--color-logo);
}

.img-botao {
  width: 10%;
}

h1 {
  font-size: 50px;
}
#apresentation {
  margin-right: 3%;
  margin-left: 3%;
}

#main-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
}

#div-avatar {
  display: flex;
  align-items: end;
}
.p-main-1 {
  font-size: 18px;
}
#p1 {
  margin-bottom: 10%;
}
#p2 {
  text-align: bottom;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.8rem;
  margin: 7% 5% 0 5%;
}

.img-gallery {
  width: 250px;
  height: auto;
  margin-bottom: 3%;
}

#main-2 {
  background-color: var(--body-background);
  border-bottom: 2px solid var(--subtitle-color);
  border-top: 2px solid var(--subtitle-color);
  display: flex;
  width: 100%;
}

#vendas-artes {
  border-right: 1px solid var(--subtitle-color);
  padding-right: 6%;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quantidade-artes-vendas {
  font-size: 50px;
  font-weight: bold;
}

#subtitulo-artes-vendas {
  font-size: 20px;
  color: var(--subtitle-color);
  margin-bottom: 50%;
}

.div-lorem {
  display: flex;
  padding: 4%;
}
#lorem-1,
#lorem-2 {
  flex-direction: column;
}
#lorem-texto {
  font-size: 18px;
  margin-bottom: 11%;
}
#lorem-assinatura {
  font-size: 18px;
  text-decoration: underline;
}
#lorem-span {
  text-decoration: underline;
  color: var(--color-logo);
}

#banner {
  width: 100%;
}
#container-banner {
  display: flex;
  align-items: flex-end;
}

#main-3 {
  background-color: var(--body-background);
  padding: 12% 5% 12% 5%;
  width: 100%;
}

#astronautas-titulo {
  padding-bottom: 12%;
}

.astronautas-div {
  display: flex;
}

#all-astronautas {
  flex-wrap: wrap;
  justify-content: space-around;
}

#astronautas-1-2,
#astronautas-3-4,
#astronauta-1,
#astronauta-2,
#astronauta-3,
#astronauta-4 {
  flex-direction: column;
}

.titulo-nft {
  font-size: 30px;
  padding-bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.artista-astronauta {
  font-size: 20px;
  color: var(--subtitle-color);
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preco-astronauta {
  color: var(--color-logo);
  font-size: 20px;
}

.astronauta-img {
  padding-bottom: 20%;
}

.vertical-line {
  width: 1px;
  height: 100%;
  float: left;
}

#main-4 {
  background-color: var(--body-background);
  text-align: center;
}

#title-main-4 {
  padding-bottom: 10%;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.card {
  background-color: var(--card-color);
  font-size: 20px;
  display: flex;
  padding: 20px;
  width: 400px;
  margin-bottom: 6%;
  text-align: start;
}
.quantidade-fotografias {
  color: var(--color-logo);
  font-size: 20px;
}

.dados-artista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}
#card-2 {
  background-color: var(--color-logo);
}
#card-2-quantidade {
  color: var(--text-color);
}

#info-artistas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
}

footer {
  background-color: var(--card-color);
}

#title-main-4 {
  font-size: 40px;
}

#p-large-main-4 {
  font-size: 30px;
}

#input {
  background-color: var(--color-input);
  border: none;
  font-size: 20px;
  width: 100%;
  padding: 12px;
}

#button-footer {
  padding: 16px;
  border: none;
  font-size: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.p-footer-text {
  padding: 8px;
  color: var(--subtitle-color);
}

.div-footer {
  display: flex;
}

#logo-footer-botao {
  padding: 5%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--subtitle-color);
}

#div-3columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 4%;
}

#input-news {
  padding: 5%;
  border-right: 1px solid var(--subtitle-color);
}

#input-button {
  display: flex;
  padding-top: 7%;
}

#contact-footer {
  border-top: 1px solid var(--subtitle-color);
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rocket-link {
  color: var(--subtitle-color);
  font-size: 20px;
}

#img-social-medias {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 862px) and (max-width: 1153px) {
  #astronauta-galeria-7,
  #astronauta-galeria-8 {
    display: none;
  }
}

@media (max-width: 779px) {
  .vertical {
    display: none;
  }
}

@media (max-width: 999px) {
  h2 {
    font-size: 30px;
  }
  a {
    font-size: 13px;
  }
  button {
    font-size: 10px;
  }
  .p-main-1 {
    font-size: 13px;
  }
  #img-artistas-agrupados {
    width: 150px;
    height: auto;
  }
  h1 {
    font-size: 35px;
  }
  #img-selo {
    width: 160px;
    height: auto;
  }
  #quantidade-artes-vendas {
    font-size: 40px;
  }
  #subtitulo-artes-vendas {
    font-size: 15px;
  }
  #lorem-texto {
    font-size: 13px;
  }
  #lorem-assinatura {
    font-size: 13px;
  }
  .titulo-nft {
    font-size: 20px;
  }
  .artista-astronauta {
    font-size: 15px;
  }
  .preco-astronauta {
    font-size: 15px;
  }
  .arrow-img {
    width: 50px;
    height: auto;
  }
  #p-large-main-4 {
    font-size: 20px;
  }
  #voltar-topo {
    width: 60px;
    height: auto;
  }
  #input {
    font-size: 10px;
  }
  #button-footer {
    font-size: 10px;
  }
  .footer-text {
    font-size: 15px;
  }
  #rocket-link {
    font-size: 15px;
  }
  .social-media-img {
    width: 20px;
    height: auto;
  }
}

@media (max-width: 727px) {
  h2 {
    font-size: 20px;
  }
  a {
    font-size: 9px;
  }
  button {
    font-size: 10px;
    padding: 6px;
  }
  .p-main-1 {
    font-size: 9px;
  }
  #img-artistas-agrupados {
    width: 130px;
    height: auto;
  }
  h1 {
    font-size: 25px;
  }
  #img-selo {
    width: 130px;
    height: auto;
  }
  #quantidade-artes-vendas {
    font-size: 25px;
  }
  #subtitulo-artes-vendas {
    font-size: 10px;
  }
  #lorem-texto {
    font-size: 9px;
  }
  #lorem-assinatura {
    font-size: 9px;
  }
}

@media (max-width: 552px) {
  h2 {
    font-size: 15px;
  }
  a {
    font-size: 6px;
  }
  button {
    font-size: 6px;
    padding: 4px;
  }
  .p-main-1 {
    font-size: 6px;
  }
  #img-artistas-agrupados {
    width: 80px;
    height: auto;
  }
  h1 {
    font-size: 17.5px;
  }
  #img-selo {
    width: 80px;
    height: auto;
  }
  .img-gallery {
    width: 150px;
    height: auto;
  }
  #quantidade-artes-vendas {
    font-size: 15px;
  }
  #subtitulo-artes-vendas {
    font-size: 6px;
  }
  #lorem-texto {
    font-size: 6px;
  }
  #lorem-assinatura {
    font-size: 6px;
  }
  .astronauta-img {
    width: 200px;
  }
  .titulo-nft {
    font-size: 20px;
  }
  .artista-astronauta {
    font-size: 15px;
  }
  .preco-astronauta {
    font-size: 15px;
  }
  .arrow-img {
    width: 40px;
    height: auto;
  }
  #title-main-4 {
    font-size: 17.5px;
  }
  #p-large-main-4 {
    font-size: 15px;
  }
  #voltar-topo {
    width: 40px;
    height: auto;
  }
  .card {
    font-size: 10px;
    padding: 5px;
    width: 175px;
  }
  .quantidade-fotografias {
    font-size: 10px;
  }
  .foto-artista {
    width: 50px;
    height: auto;
  }
  #info-artistas {
    font-size: 12px;
  }
  #input {
    font-size: 6px;
  }
  #button-footer {
    font-size: 6px;
    padding: 12px;
  }
  .footer-text {
    font-size: 10px;
  }
  #rocket-link {
    font-size: 10px;
  }
  .social-media-img {
    width: 15px;
    height: auto;
  }
}
